<div class="footer">
	<div class="container">
	<h3><span>Merci</span> d'avoir pris le temps de nous lire,<br> ça fait plaisir de partager avec vous <span>notre carnet de voyage</span> !</h3>
    <div class="btn-wrapper">
                <a target="_blank" href="mailto:baptiste.chebassier28@gmail.com, celine.devinoy@gmail.com" class="btn-blue">Nous contacter</a>
    </div>

	</div>
</div>
