<div class="banner-galerie">
	<div class="container">
    <div class="grid d-flex justify-center">
      <!-- <div class="buttons">
        <ul class="btn btn-danger click-me" >Michelle</ul>
      </div> -->
      <%= form_tag galeries_path, method: :get, class: "galerie-form" do %>
         <h3>Que voulez-vous voir ? </h3>
         <br>

          <%= select_tag :galeries, options_for_select(["Viivan", "Bapt&Céline", "Elvis", "landscape", "Michèle&Jeanine", "work&move"], params[:galeries]), id: "different_option_value_html", onchange: "this.form.submit();", class: "galerie-select" %>

      <%end%>
    </div>

		<div class="grid">
		<% @galeries.each do |image| %>
			<%= link_to galery_path(image) do %>
					<%#= image_tag(image["url"], class: "image-galerie") %>
          <%= cl_image_tag(image["nom"],
    :transformation=>[{:raw_transformation=> "w_300"}], class: "image-galerie")%>


				<%end%>
		<% end %>
		</div>
<!-- 			<#% @cloudinary_viivan_images.each do |image| %>
				<#%= link_to image["url"] do %>
					<#%= image_tag(image["url"], class: "image-galerie") %>

				<#%end%>
			<#%	end %> -->

	</div>

</div>
