<div class="container-fluid">
	<div class="wrapper">
		<div class="left-show">
			<div class="left-arrow arrow">
				<% if @galerie[:id] > 0  %>
					<%= link_to " < ",galery_path(params[:id].to_i - 1)%>
				<% end %> 
			</div>

			<a href="/" ></a>
		</div>
		<div class="image">
			<%= image_tag(@galerie[:url], class: "image-show") %>
		</div>
			<!-- <div class="infos-show">
				
				<div class='infos-show-content'>
					<div class="number col-3 align-middle"> <p> <%#=@galerie.numéro %></p>
					</div>
					<div class="infos-right col-9">
						<div class=" table-cell">
							<div class="titre col-12"><%#=@galerie.titre %></div>
							<div class="details col-12"><#%=@galerie.details %></div>
							<div class="dimensions col-12"><#%=@galerie.dimensions %></div>

						</div>
					</div>
				</div>
			</div>		 -->
		<div class="right-show">
			<a href="/" ></a>
			<div class="right-arrow arrow">
				<% last = Galerie.count - 1 %>
				<% if @galerie[:id] = last %>
					<%=  link_to " > ",galery_path(params[:id].to_i + 1)  %>
				<% end %>

<!-- 					<#%= link_to " > " ,jeanpierrechebassier_path %>
				<#% else %>
					<#% suivant = @galerie[:id] + 1] %>
					<#% jonny = Galerie.find(:id = suivant)
					<#%= link_to " > ",galery_path(@galerie[:id + 1])%>
				<#% end %>  -->
			</div>
		</div>
	
	</div>
</div>