<div class="banner">
	<div class="content-banner">
		<%= image_tag("viivan.gif", :class => "viivan-gif") %>
		
	</div>
	<div class="titre justify-center">
		<h1>SUR LA ROUTE DU VIVANT</h1>
	</div>
</div>
<div class="banner-articles">

	<div class="article">
		<div class="article-titre">
			<h2>19 octobre 2020 : On est enfin partis : direction l'océan !</h2>
		</div>
		
		<div class="content-photo">
			<%= image_tag("depart_van.jpg", :class => "photo-article") %>
		</div>


	</div>
	
</div> 

