<div class="wrapper-videos">
  <div class="container">
    <h1>Nos vidéos du voyage !</h1>
    <div class="videos">
      <div class= "d-flex justify-content-center">
         <iframe src="https://player.vimeo.com/video/566149137?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="VIIVAN - mars 2021"></iframe>
      </div>
      <div class= "d-flex justify-content-center">
         <iframe src="https://player.vimeo.com/video/547854167?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="VIIVAN - mars 2021"></iframe>
      </div>
       <div class= "d-flex justify-content-center">
         <iframe src="https://player.vimeo.com/video/538120097?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="VIIVAN - mars 2021"></iframe>
      </div>
      <div class="justify-content-center">
        <div class="video">
          <iframe src="https://player.vimeo.com/video/526843061" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>

        <div class="video">
          <iframe src="https://player.vimeo.com/video/496461491" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        </div>
        <div class="video">
          <iframe src="https://player.vimeo.com/video/488969365" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        </div>

      </div>

    </div>

  </div>

</div>
