.simple_form {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    color: #090935;
    border: 1px solid #090935;
    box-shadow: 6px 6px rgba(9, 9, 53, 0.25);
	h3 {
		font-size: 20px;
		text-align: center;
	}
}